= simple_form_for(@item, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, autofocus: true
    = f.input :aliases, hint: 'Comma-separated'
    = f.input :weight, hint: 'In Grams'

  .form-actions
    = f.button :submit, :class => "btn-primary"
