.page-header
  = link_to new_item_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Item
  %h1 Listing items

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Aliases
      %th Weight
      %th
      %th
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.aliases
        %td= "#{item.weight} kg"
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
