.page-header
  = link_to items_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_item_path(@item), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1 Listing items

%dl
  %dt Name:
  %dd= @item.name
  %dt Aliases:
  %dd= @item.aliases
  %dt Weight:
  %dd= "#{@item.weight} g"
  %dt Adjustments:
  %dd= "#{@item.adjustments.count}"
  %dt Current Total:
  %dd= "#{@item.quantity} g"
